<!DOCTYPE html>
<html lang="fr">
<head>
	<title>{% block title %}Bon de commandes{% endblock %}</title>
	<meta charset="utf-8">
	 {% block stylesheets %}
	 	<link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
	 {% endblock %}
</head>
<body>
	{% block body %}
    {% endblock %}
	
	 {% block javascripts %}
	 	{% endblock %}
	</main>
</body>
</html>